.pageTitleBox{
    border: 2px solid blue;
    box-sizing: border-box;
    background-color: yellow;
    width: 300px;
    margin-left: 40%;
}
.pageTitle{
    color: brown;
    text-align: center;
}
.diceDisplay{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border: 2px solid black;
}


.diceRollerButton{
    margin-left: 45%;
    margin-top: 20%;
}