body{
    background: linear-gradient(#e92e3d, #ff6e6a) 0 100% no-repeat;
}

.pageTitleBox{
    border: 2px solid blue;
    box-sizing: border-box;
    background-color: yellow;
    width: 300px;
    margin-left: 41.5%;
}
.pageTitle{
    color: brown;
    text-align: center;
}
.diceDisplay{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 42%;
    width: 300px;
    height: 300px;
    margin-top: 40px;
}


.diceRollerButton{
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    margin-left: 850px;
}

.diceRollerButtonText{
    font-size: 24px;
}